* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(to right, rgb(7, 42, 65), black);
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    /* background-color: rgb(29, 52, 97); */
    padding: 20px;
    color: white;
    background-image: url(./images/—Pngtree—financial\ economy\ stock\ banner\ poster_1119485.jpg);
}

main {
    /* display: flex;
    flex-wrap: wrap; */
    padding-left: 160px;
}

.history-sidebar {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 160px;
    position: absolute;
    z-index: 1;
    left: 0;
    background-image: linear-gradient(to bottom, rgb(7, 42, 65), black);
    border-style: solid;
    overflow-x: hidden;
    padding: 20px;
    border-radius: 10px;
}

.stock-current {
    border-style: solid;
    padding: 20px;
    border-radius: 10px;
}

.news {
    border-style: solid;
    border-radius: 10px;
    height: 80vh;
    padding: 20px;
}

.top-stocks {
    border-style: solid;
    border-radius: 10px;
}


